nav {
  padding-inline: 40px;
}


.content {
  display: grid;
  min-height: 100vh;
  height: 100%;
  grid-template-rows: max-content 1fr max-content;
}

.cards-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  margin-block: 50px;
}


.progress {
  margin-block: 20px;
}

.search.input-field.inline {
  display: grid;
  grid-template-columns: 1fr max-content;
  gap: 20px;
  align-items: center;
}